h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: #f54212 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Avant Garde, Calibri;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}